---
import { render } from 'astro:content'

import Categorizer from '~/components/base/Categorizer.astro'
import ListItem from '~/components/views/ListItem.astro'
import DesktopAside from '~/components/base/DesktopAside.astro'
import MobileControl from '~/components/base/MobileControl.astro'
import Warning from '~/components/base/Warning.astro'

import { FEATURES } from '~/config'
import { getYear } from '~/utils/datetime'
import { getFilteredPosts, getSortedPosts, getMinutesRead } from '~/utils/data'

import type { CollectionEntry, CollectionKey } from 'astro:content'
import type { PostCollection } from '~/utils/data'

interface Props {
  collectionType: CollectionKey
  pageToc?: boolean
  pageTag?: boolean
}

const { collectionType, pageToc = false, pageTag = false } = Astro.props

const VALID_COLLECTION_TYPE = ['blog', 'announcement', 'news'] as const
const isPostCollection = (value: CollectionKey): value is PostCollection =>
  VALID_COLLECTION_TYPE.includes(value as PostCollection)
const WARNING = `The '${collectionType}' collection type is not built-in.
  Modify <code>ListView.astro</code> to render it.`

/* Toc */
const { toc } = FEATURES
const tocEnabled = Array.isArray(toc) && toc[0] && pageToc
let years: string[] = []

/* Tag */
const { tag } = FEATURES
const tagEnabled = Array.isArray(tag) && tag[0] && pageTag
let tags: string[][] = []

/* Posts */
const groupedBlogItems: {
  year: string
  items: {
    idx: number
    year: string
    id: CollectionEntry<PostCollection>['id']
    data: CollectionEntry<PostCollection>['data']
    minutesRead: ReturnType<typeof getMinutesRead>
  }[]
}[] = []
if (isPostCollection(collectionType)) {
  const items = await getFilteredPosts(collectionType)
  const sorted = getSortedPosts(items)

  const enriched = await Promise.all(
    sorted.map(async (item, idx) => {
      const { data, id } = item
      const { remarkPluginFrontmatter } = await render(item)

      const minutesRead = getMinutesRead(
        data.minutesRead,
        remarkPluginFrontmatter.minutesRead
      )

      return {
        idx,
        year: getYear(data.pubDate).toString(),
        id,
        data,
        minutesRead,
      }
    })
  )

  for (const item of enriched) {
    const last = groupedBlogItems[groupedBlogItems.length - 1]
    if (!last || last.year !== item.year) {
      groupedBlogItems.push({ year: item.year, items: [item] })
    } else {
      last.items.push(item)
    }
  }

  if (tocEnabled) {
    const yearsSet = new Set<number>()
    enriched.forEach((item) => {
      const year = getYear(item.data.pubDate)
      yearsSet.add(year)
    })

    years = Array.from(yearsSet)
      .sort((a, b) => b - a)
      .map((year) => year.toString())
  }

  if (tagEnabled) {
    for (const item of enriched) {
      const tag = item.data.tags
      if (tag.length === 0) continue
      tags.push(tag)
    }
  }
}
---

<DesktopAside anchors={years} {tags} />
<MobileControl anchors={years} {tags} />

{
  isPostCollection(collectionType) && (
    <div aria-label="Post list">
      {groupedBlogItems.length === 0 ? (
        <div class="py-2 op-50">暂无内容</div>
      ) : (
        groupedBlogItems.map((group) => {
          const idx = group.items[0].idx

          return (
            <section
              class="[&:not(:has([data-tags]:not(.hidden)))]:hidden"
              data-year={group.year}
            >
              <Categorizer {idx} needId={tocEnabled} text={group.year} />

              {group.items.map(({ data, id, minutesRead, idx }) => (
                <ListItem
                  {idx}
                  {collectionType}
                  postSlug={id}
                  title={data.title}
                  tags={data.tags}
                  date={data.pubDate}
                  minutesRead={minutesRead}
                  radio={data.radio}
                  video={data.video}
                  platform={data.platform}
                  redirect={data.redirect}
                />
              ))}
            </section>
          )
        })
      )}
    </div>
  )
}

{!isPostCollection(collectionType) && <Warning html={WARNING} />}
